<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hcmute.edu.vn.mssv18110344">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".SeeProductDetailsActivity"></activity>
        <activity android:name=".SeeProductsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ResetPassStepFourActivity" />
        <activity android:name=".ResetPassStepThreeActivity" />
        <activity android:name=".ResetPassStepTwoActivity" />
        <activity android:name=".ResetPassStepOneActivity" />
        <activity android:name=".RegisterStepFiveActivity" />
        <activity android:name=".RegisterStepFourActivity" />
        <activity android:name=".RegisterStepThreeActivity" />
        <activity android:name=".RegisterStepTwoActivity" />
        <activity android:name=".RegisterStepOneActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>